<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bignerdranch.android.nerdmail">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name=".controller.DrawerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".controller.EmailBroadcastReceiver">
            <intent-filter>
                <action
                    android:name="com.bignerdranch.android.nerdmail.EMAIL_BROADCAST"/>
            </intent-filter>
        </receiver>

        <service android:name=".controller.EmailService" >
            <intent-filter >
                <action android:name="com.bignerdranch.android.nerdmail.Emailservice" />
            </intent-filter>
        </service>

    </application>

</manifest>
